<section id="course" class="container famil">
  <div class="row">
    <div class="offset-xl-1 col-xl-10">

      <div class="ratio ratio-16x9 film-frame">
        <iframe src="<%= @lesson.url %>" title="YouTube video" allowfullscreen></iframe>
      </div>

      <% base_url="http://localhost:3000/courses" %>

        <% prev_lesson="#{base_url}/#{@lesson.prev}" %>

          <% next_lesson="#{base_url}/#{@lesson.next}" %>

            <div id="nav-controls">

              <!-- Go to Previous lesson -->

              <% unless @lesson.prev.empty? %>
                <%= link_to prev_lesson do %>
                  <span class="material-symbols-outlined">
                    arrow_back
                  </span>
                  <% end %>
                    <% else %>
                      <span class="material-symbols-outlined">
                        block
                      </span>
                      <% end %>

                        <!-- Return to Course Home -->
                        <%= link_to @course do %>
                          <span class="material-symbols-outlined">
                            undo
                          </span>
                          <% end %>

                            <!-- Return to Home Page -->
                            <%= link_to root_url do %>
                              <span class="material-symbols-outlined">
                                home
                              </span>
                              <% end %>

                                <!-- Jump down to lessons list -->
                                <a href="#course-title">
                                  <span class="material-symbols-outlined">
                                    arrow_downward
                                  </span>
                                </a>

                                <!-- Go to Next lesson -->
                                <% unless @lesson.next.empty? %>
                                  <%= link_to next_lesson do %>
                                    <span class="material-symbols-outlined">
                                      arrow_forward
                                    </span>
                                    <% end %>
                                      <% else %>
                                        <span class="material-symbols-outlined">
                                          block
                                        </span>
                                        <% end %>
            </div>

            <div id="course-header">
              <h1 class="gochi text-center saddle">
                <%= @lesson.position %>. <%= @lesson.title %>
              </h1>
              <!-- <ul class="text-center gochi">
          <li>
            <%= @lesson.duration %>
          </li>
        </ul> -->
            </div> <!-- course header -->

    </div> <!-- col-10 -->
  </div> <!-- row -->

  <div class="row gochi mt-5">
    <div class="offset-xl-1 col-xl-6">

      <h2 id="course-title" class="fs-1 mt-5">
        <%= @course.title %>
          <span class="saddle">
            <%= @lessons.count %> lessons
          </span>
      </h2>

      <ol id="lesson-list" class="mt-3">
        <% @lessons.each do |lesson| %>
          <li>
            <%= link_to course_lesson_path(@course, lesson) do %>
              <span>
                <%= lesson.title %>
              </span> <br />

              <span class="duration">
                <%= lesson.duration %>
              </span>
              <% end %> <!-- Link -->
          </li>
          <% end %> <!-- Loop -->
            </ul>
    </div> <!-- col-xl-6 -->
  </div> <!-- row -->
</section>